
.title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

  .address-field {
    width: 400px;
  }

  mat-card {
      /*top: 4vh;*/
      width: 90%;
      height: 15vh;
      /*display: block;*/
      margin-left: auto;
      margin-right: auto;
      /*vertical-align: middle;*/
      /*overflow: auto*/;
      /*opacity: 0.15 !important;*/
      color: black
  
      /*background-color: transparent !important;*/
  }
  mat-select {
    color: white
  }

